# Spam Mail Prediction


The following machine learning model predics the mail is spam or ham by using Support Vector Machine (SVM)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
mail_data = pd.read_csv('C:\\Users\\Tejal\\Downloads\\spam.csv', engine='python')
mail_data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
mail_data.shape

(5572, 5)

In [4]:
mail_data.isna().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [5]:
mail_data = mail_data.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'], axis=1)

In [6]:
mail_data.isnull().sum()

v1    0
v2    0
dtype: int64

In [7]:
mail_data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
# Rename column v1 and v2 as category and message
mail_data = mail_data.rename(columns={'v1': 'Category', 'v2': 'Message'})

In [9]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [10]:
# Label spam mail as 0, ham mail as 1
mail_data.loc[mail_data['Category']== 'spam', 'Category'] = 0
mail_data.loc[mail_data['Category']== 'ham', 'Category'] = 1

In [11]:
mail_data.head()

  Category                                            Message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...

In [12]:
# Importing Scikit learn Library
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

In [13]:
# Separating data as text (X) and labels (Y)
X = mail_data['Message']
Y = mail_data['Category']

In [14]:
print(X)
print(Y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will ÃŒ_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object
0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

In [15]:
#Split data as train and test data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state=3)

Feature Extraction

In [16]:
# Transform the tet data to features vector
# Convert the text to lower case
feature_extraction = TfidfVectorizer(min_df=1, stop_words='english', lowercase='True')
X_train_feature = feature_extraction.fit_transform(X_train)
X_test_feature = feature_extraction.transform(X_test)

#Converting Y_test and Y_train values to integer
Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [17]:
# Training the model SVM
model = LinearSVC()
model.fit(X_train_feature, Y_train)

LinearSVC()

Evaluating the model

In [18]:
# Prediction on traing data
prediction_on_training_data = model.predict(X_train_feature)
accuracy_on_training_data = accuracy_score(Y_train, prediction_on_training_data)
print('Accuray on training data:',accuracy_on_training_data)

Accuray on training data: 0.9995512676688355

In [19]:
# prediction on test data
prediction_on_test_data = model.predict(X_test_feature)
accuracy_on_test_data = accuracy_score(Y_test, prediction_on_test_data)
print('Accuray on test data:',accuracy_on_test_data)

Accuray on test data: 0.9856502242152466

In [20]:
#Predicting on new email
input_mail = ("If you're thinking about studying abroad, you probably have a lot to figure out already.")
# Convert text to features vectors
input_mail_features = feature_extraction.transform([input_mail])

#Making prediction on new data

predictions = model.predict(input_mail_features)
print(predictions)

if predictions == 1:
    print("mail is HAM")
else:
    print("mail is SPAM")

[1]
mail is HAM